/* @import url(http://fonts.googleapis.com/css?family=Lato); */
body { margin: 0; }
section {
    height: 400px;
    width: 100%;
    background: #eee;
}
.overlook-bar.open {
    color: #fff;
    font-family:
             "HelveticaNeue-Light",
             "Helvetica Neue Light",
             "Helvetica Neue",
             Helvetica,
             Arial,
             "Lucida Grande",
             sans-serif;
    height: 65px;
    line-height: 65px;
    text-align: center;
}

.overlook-bar.collapse {
    -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
    color: #fff;
    font-family:
             "HelveticaNeue-Light",
             "Helvetica Neue Light",
             "Helvetica Neue",
             Helvetica,
             Arial,
             "Lucida Grande",
             sans-serif;
    height: 65px;
    line-height: 65px;
    text-align: center;
    margin-top: -65px;
}

.overlook-bar button.collapse {
    font-size: 24px;
    font-weight: 700;
    line-height: 12px;
    margin: 20px 25px 0 0;
    float: right;
    padding: 5px 7px 10px;
    cursor: pointer;
    color: #fff;
    border: 0;
    outline: none;
    background: #e74c3c;
    -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
}

button.collapse:hover {
    background: #c0392b;
}

.overlook-bar.collapse button.collapse {
    /* margin-top: -100px; */
    -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
}
